.homediv {
    margin: 10px;
}

.square-row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0 -15px;
}

.square {
    flex-basis: calc(20% - 30px);
    max-width: calc(20% - 30px);
    height: 300px;
    margin: 15px;
    background-color: #D28B00;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
    cursor: pointer;
}

.square:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.square-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.square-title {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
}

.square-description {
    font-size: 14px;
    text-align: center;
}

@media screen and (max-width: 768px) {
    .square {
        flex-basis: calc(50% - 30px);
        max-width: calc(50% - 30px);
    }
}
